body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
}

.redBg {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.card {
  float: left;
  width: 320px; 
  background-color: #e1e5ed;
  padding: 10px;
  margin: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 25px;
  border-color: #3f87fc;
  border-width: 1px;
  border-style: solid;

  height: 300px;
}

.hints {
  font-weight: bold;
}

.listColumnMain {
  float: left;
  width: 150px;
  font-size: 8pt;
}

.listColumn {
  float: left;
  width: 60px;
  font-size: 8pt;
}

.header {
  font-weight: bold;
}

.clear {
  clear: both;
}

.map {
  width: 100%;
  height: 260px;
  border-radius: 15px;
  min-width: 300px;
}
